@*
=========================================================================================================
  Module      : カテゴリリスト (パーシャルビュー) (CategoryList.cshtml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2019 All Rights Reserved.
=========================================================================================================
*@
@using w2.Cms.Manager.Codes
@model w2.Cms.Manager.ViewModels.Coordinate.CategoryListViewModel

<div class="custom-scroll-area">
	@foreach (var category in this.Model.List)
	{
		<div class="list-row">
			<div class="list-col ta-left" style="width: 40%;">
				@category.CoordinateCategoryId
			</div>
			<div class="list-col ta-left">
				<div style="margin-left: @((@category.CoordinateCategoryId.Length / Constants.CONST_CATEGORY_ID_LENGTH - 1) * 10)px;">
					@((@category.CoordinateCategoryId.Length / Constants.CONST_CATEGORY_ID_LENGTH - 1) > 0 ? "└" : "")@category.CoordinateCategoryName
				</div>
			</div>
			<div class="list-col w30 ta-right">
				<a href="#"
					class="btn btn-main btn-size-s target-list-select-btn"
					data-target-list-id="@category.CoordinateCategoryId"
					onclick="modal.close();add_category('@category.CoordinateCategoryName');">
					選択する
				</a>
			</div>
		</div>
	}
</div>