@*
=========================================================================================================
  Module      : メニュー権限設定ページ(Confirm.cshtml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2019 All Rights Reserved.
=========================================================================================================
*@
@using w2.Cms.Manager.Codes
@{
	ViewBag.Title = "メニュー権限設定";
	Layout = Constants.LAYOUT_PATH_DEFAULT;
}
@model w2.Cms.Manager.ViewModels.MenuAuthority.ConfirmViewModel

@helper TopButtomControls()
{
	using (Html.BeginForm("Confirm", Constants.CONTROLLER_W2CMS_MANAGER_MENU_AUTHORITY, new
	{
		this.Model.ActionStatus,
		this.Model.MenuAuthorityLevel
	}, FormMethod.Post, new
	{
		name = "Confirm",
	}))
	{
		<input type="button" value="  戻る  " onclick="javascript: history.back();" class="btn btn-main"/>
		if (this.Model.IsActionStatusDetail)
		{
			<input type="submit" name="Edit" value="  編集する  " class="btn btn-main"/>
			<input type="submit" name="Delete" value="  削除する  " onclick="return delete_confirm_check()" class="btn btn-main"/>
		}
		if (this.Model.IsActionStatusUpdate)
		{
			<input type="submit" name="InsertUpdate" value="  更新する  " class="btn btn-main">
		}
		if (this.Model.IsActionStatusInsert)
		{
			<input type="submit" name="InsertUpdate" value="  登録する  " class="btn btn-main">
		}
	}
}

<table cellspacing="0" cellpadding="0" width="791" border="0">
	<tr><td><h1 class="page-title">メニュー権限設定</h1></td></tr>
	@LayoutHelper.PaddingTr(10)
	<tr>
		<td>
			<h2 class="cmn-hed-h2">
				@if (this.Model.IsActionStatusDetail)
				{
					@:メニュー権限設定詳細
				}
				@if (this.Model.IsActionStatusInsert || this.Model.IsActionStatusUpdate)
				{
					@:メニュー権限設定入力確認
				}
			</h2>
		</td>
	</tr>
	<!--▽ 詳細 ▽-->
	<tr>
	<td>
		<table class="box_border" cellspacing="1" cellpadding="3" width="784" border="0">
		<tr>
		<td>
		<table class="info_box_bg" cellspacing="0" cellpadding="0" width="100%" border="0">
		<tr>
		<td align="center">
		<table cellspacing="0" cellpadding="0" border="0">
		<tr>
			<td>

				<div class="action_part_top">@TopButtomControls()</div>
				<table class="detail_table" width="758" border="0" cellspacing="1" cellpadding="3">
					<tr>
						<td class="detail_title_bg" align="center" width="30%">メニュー権限名
						</td>
						<td class="detail_item_bg" align="left" width="70%">@this.Model.Name</td>
					</tr>
				</table>
				<br />
				<table class="list_table" cellspacing="1" cellpadding="3" width="758" border="0">
					@foreach (var ml in Model.MenuLarges)
					{
						<tr>
							<td align="left" class="detail_title_bg" colspan="3">
								@ml.Name
							</td>
						</tr>
						foreach (var ms in ml.SmallMenus)
						{
							<tr>
								<td align="center" class="detail_title_bg" width="10%">
									@if (ms.IsAuthorityDefaultDispPage)
									{
										<span style="font-size: 10px;">
											デフォルト表示
										</span>
									}
								</td>
								<td align="left" class="detail_item_bg" width="20%">@ms.Name </td>
								<td align="left" class="detail_item_bg" width="70%">
									@foreach (var mf in ms.Functions)
									{
										@("[" + mf.Name +"]")
									}
								</td>
							</tr>
						}
					}
				</table>
				<div class="action_part_bottom">@TopButtomControls()</div>
			</td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
	</td>
	</tr>
	<!--△ 詳細 △-->
	@LayoutHelper.PaddingTr(10)
</table>

@section JavaScript
{
	<script type="text/javascript">
		<!--
		function delete_confirm_check() {
			return confirm('情報を削除してもよろしいですか？');
		}
//-->
	</script>
}
