@*
=========================================================================================================
  Module      : 商品ランキング設定ページ(List.cshtml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2019 All Rights Reserved.
=========================================================================================================
*@
@using w2.Cms.Manager.Codes

@model w2.Cms.Manager.ViewModels.ProductRanking.ListViewModel
@{
	ViewBag.Title = "商品ランキング設定";
	Layout = Constants.LAYOUT_PATH_DEFAULT;
}

@helper CreateConfirmUrl(string rankingId)
{
	@Url.Action("Confirm", new { actionStatus = ActionStatus.Detail, rankingid = rankingId })
}

@helper TopButtomControls()
{
	<input type="hidden" name="actionStatus" value="@ActionStatus.Insert"/>
	<input type="submit" value="  集計実行  " name="Total" class="btn btn-sub" disabled="@(this.Model.List.Length == 0)"/>
	<input type="hidden" name="actionStatus" value="@ActionStatus.Insert"/>
	<input type="submit" value="  新規登録  " name="Regist" class="btn btn-main"/>
}

@helper TdClick(string rankingId,string dispValue)
{
	<td align="center" onclick="listselect_mclick(this, '@Url.Action("Confirm", new { ActionStatus = ActionStatus.Detail, RankingId = rankingId })')">@dispValue</td>
}

<table cellspacing="0" cellpadding="0" width="791" border="0">
	<tr><td><h1 class="page-title">商品ランキング設定</h1></td></tr>
	@LayoutHelper.PaddingTr(10)
	<tr><td><h2 class="cmn-hed-h2">商品ランキング設定一覧</h2></td></tr>
	<!--▽ 検索 ▽-->
	<tr>
	<td style="width: 792px">
	<table class="box_border" cellspacing="1" cellpadding="3" width="784" border="0">
	<tr>
	<td class="search_box_bg">
	@using (Html.BeginForm("List", Constants.CONTROLLER_W2CMS_MANAGER_PRODUCT_RANKING, FormMethod.Get,new {name = "searchForm"}))
	{
	<table cellspacing="0" cellpadding="0" width="100%" border="0">
	<tr>
	<td align="center">
	<table cellspacing="0" cellpadding="0" border="0">
	@LayoutHelper.PaddingTr(10)
	<tr>
	<td class="search_table">
	<table cellspacing="1" cellpadding="2" width="768" border="0">
	<tr>
		<td class="search_title_bg" width="95">
			商品ランキングID
		</td>
		<td class="search_item_bg" width="130">
			<input type="text" name="rankingId" value="@this.Model.ParamModel.RankingId" width="125"/>
		</td>
		<td class="search_title_bg" width="100">
			集計タイプ
		</td>
		<td class="search_item_bg" width="130">
			@Html.DropDownListFor(model => model.ParamModel.TotalType, new SelectList(Model.TotalTypes, "Value", "Text"), "", new
			{
				Name = "TotalType"
			})
		</td>
		<td class="search_btn_bg" width="83" rowspan="2">
			<div class="search_btn_main">
				<input type="submit" name="search" value="  検索  " class="btn btn-main"/>
			</div>
			<div class="search_btn_sub">
				@Html.ActionLink("クリア", "List", Constants.CONTROLLER_W2CMS_MANAGER_PRODUCT_RANKING)&nbsp;
				<a href="javascript:searchForm.reset();">リセット</a>
			</div>
		</td>
	</tr>
	<tr>
		<td class="search_title_bg" width="95">
			有効フラグ
		</td>
		<td class="search_item_bg" width="130">
			@Html.DropDownListFor(model => model.ParamModel.ValidFlg, new SelectList(Model.ValidItems, "Value", "Text"), "", new
			{
				Name = "ValidFlg"
			})
		</td>
		<td class="search_title_bg" width="100">
			並び順
		</td>
		<td class="search_item_bg" width="130">
			@Html.DropDownListFor(model => model.ParamModel.SortKbn, new SelectList(Model.SortKbnItems, "Value", "Text", "Selected"), new
			{
				Name = "SortKbn"
			})
		</td>
	</tr>
	</table>
	</td>
	</tr>
	@LayoutHelper.PaddingTr(5)
	</table>
	</td>
	</tr>
	</table>
	}
	</td>
	</tr>
	</table>
	</td>
	</tr>
	<!--△ 検索 △-->
	@LayoutHelper.PaddingTr(10)
	<!--▽ 一覧 ▽-->
	<tr>
	<td style="width: 792px">
	<table class="box_border" cellspacing="1" cellpadding="0" width="784" border="0">
	<tr>
	<td>
	<table class="list_box_bg" cellspacing="0" cellpadding="0" width="100%" border="0">
	<tr>
	<td align="center">
	@using (Html.BeginForm("Register", Constants.CONTROLLER_W2CMS_MANAGER_PRODUCT_RANKING, FormMethod.Get))
	{
		<table cellspacing="0" cellpadding="0" border="0">
		<tr>
			<td>
				<div class="action_part_top">
				<!-- ▽ページング▽ -->
				<table class="list_pager" cellspacing="0" cellpadding="0" width="758" border="0">
				<tr>
					<td width="550" style="height: 22px">
						@Html.Raw(this.Model.PagerHtml)
					</td>
					<td align="right">
						@TopButtomControls()
					</td>
				</tr>
				</table>
				<!-- △ページング△ -->
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<table class="list_table" cellspacing="1" cellpadding="3" width="758" border="0">
				<tr class="list_title_bg">
					<td align="center" width="13%" style="height: 17px">商品ランキングID</td>
					<td align="center" width="8%" style="height: 17px">集計タイプ</td>
					<td align="center" width="10%" style="height: 17px">集計期間区分</td>
					<td align="center" width="30%" style="height: 17px">集計期間</td>
					<td align="center" width="6%" style="height: 17px">カテゴリ指定</td>
					<td align="center" width="6%" style="height: 17px">カテゴリ除外指定</td>
					@if (w2.App.Common.Constants.PRODUCT_BRAND_ENABLED){
					<td align="center" width="6%" style="height: 17px">ブランド指定</td>
					}
					<td align="center" width="10%" style="height: 17px">在庫切れ商品</td>
					<td align="center" width="8%" style="height: 17px">有効フラグ</td>
					<td align="center" width="5%" style="min-width: 30px; height: 17px">一括<br />集計</td>
				</tr>
					@{
						var lineNo = 1;
						var index = 0;
					}

					@foreach(var vm in this.Model.List)
					{
						lineNo = ((lineNo + 1) % 2);
						var listItemBgClass = "list_item_bg" + (lineNo + 1);
						var listSelectMoutClass = string.Format("listselect_mout{0}(this)", +lineNo + 1);
						var isTotalDate = vm.IsTotalTypeAuto ? (string.IsNullOrEmpty(vm.CategoryId) ? "しない" : "する") : "-";
						var isExcludeCategoryIds = vm.IsTotalTypeAuto ? (string.IsNullOrEmpty(vm.ExcludeCategoryIds) ? "しない" : "する") : "-";
						var isTotalTypeManual = (vm.IsTotalTypeAuto == false);
						<tr class="@listItemBgClass" onmouseover="listselect_mover(this)" onmouseout="@listSelectMoutClass" onmousedown="listselect_mdown(this)">
							@TdClick(vm.RankingId, vm.RankingId)
							@TdClick(vm.RankingId, w2.Common.Util.ValueText.GetValueText(Constants.TABLE_PRODUCTRANKING, Constants.FIELD_PRODUCTRANKING_TOTAL_TYPE, vm.TotalType))
							@TdClick(vm.RankingId, vm.IsTotalTypeAuto ? w2.Common.Util.ValueText.GetValueText(Constants.TABLE_PRODUCTRANKING, Constants.FIELD_PRODUCTRANKING_TOTAL_KBN, vm.TotalKbn) : "-")
							@TdClick(vm.RankingId, vm.TotalDate)
							@TdClick(vm.RankingId, isTotalDate)
							@TdClick(vm.RankingId, isExcludeCategoryIds)
							@if (w2.App.Common.Constants.PRODUCT_BRAND_ENABLED)
							{
								@TdClick(vm.RankingId, vm.BrandKbn)
							}
							@TdClick(vm.RankingId, vm.IsTotalTypeAuto ? w2.Common.Util.ValueText.GetValueText(Constants.TABLE_PRODUCTRANKING, Constants.FIELD_PRODUCTRANKING_STOCK_KBN, vm.StockKbn) : "-")
							@TdClick(vm.RankingId, vm.IsTotalTypeAuto ? w2.Common.Util.ValueText.GetValueText(Constants.TABLE_PRODUCTRANKING, Constants.FIELD_PRODUCTRANKING_VALID_FLG, vm.ValidFlg) : "-")
							<td align="center">
								@Html.CheckBox("checks[" + index + "]", false, isTotalTypeManual ? new { disabled = "disabled" } : (object) new {})
								@Html.Hidden("rankingIds[" + index + "]", vm.RankingId)
							</td>
						</tr>
						index++;
					}
					@if(string.IsNullOrEmpty(Model.ErrorMessage) == false)
					{
						<tr class = "list_alert" >
						<td colspan = "10" > @Model.ErrorMessage </td >
						</tr>
					}
				</table>
				<table cellspacing="0" cellpadding="0" border="0">
				@LayoutHelper.PaddingTr(6)
				</table>
				<table class="info_table" cellspacing="1" cellpadding="3" width="758" border="0">
				<tr class="info_item_bg">
					<td align="left">備考<br />
						・集計実行後の反映確認はフロントサイトまたはパーツデザイン設定機能のプレビューからご確認ください。<br />
						・有効フラグを『無効』に設定した場合でも、一覧ページからの集計実行処理は行えます。<br />
					</td>
				</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table class="list_pager" cellspacing="0" cellpadding="0" width="758" border="0">
				<tr>
					<td width="550" style="height: 22px"></td>
					<td align="right">
						<div class="action_part_bottom">
							@TopButtomControls()
						</div>
					</td>
				</tr>
				</table>
			</td>
		</tr>
		@LayoutHelper.PaddingTr(10)
		</table>
	}
	</td>
	</tr>
	</table>
	</td>
	</tr>
	</table>
	</td>
	</tr>
	<!--△ 一覧 △-->
	@LayoutHelper.PaddingTr(10)
</table>
