@*
=========================================================================================================
  Module      : 特集エリアバナー詳細コンテンツ(パーシャルビュー)(_FeatureAreaBanner.cshtml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2019 All Rights Reserved.
=========================================================================================================
*@
@model w2.Cms.Manager.Input.FeatureAreaBannerInput

@{
	var parentName = string.Format("bannerInputs[{0}].", Model.Index);
}
<div class="feature-area-banner" data-id="@parentName">
	<script type="text/javascript">
		$(function() {
			image_file_select.ini();
		});
	</script>
	<div class="feature-area-banner-head">
		<div class="feature-area-banner-head-left">
			<span class="feature-area-banner-drag icon-drag ui-sortable-handle"></span>
			<div class="feature-area-banner-title">バナー</div>
		</div>
		<div class="feature-area-banner-head-right">
			<div class="feature-area-banner-visible-selector">
			<div class="slide-checkbox-wrap">
				@Html.CheckBoxFor(m => m.Publish, new
				{
					Name = parentName + "Publish",
					id = "feature-area-banner-" + Model.Index,
					data_on_label = "表示",
					data_off_label = "非表示",
				})
				<label for="feature-area-banner-@(Model.Index)" class="slide-checkbox">
					<span class="slide-checkbox-label">表示</span>
					<span class="slide-checkbox-btn"></span>
				</label>
			</div>
			</div>
			<div class="feature-area-banner-sort-btns">
				<div class="feature-area-banner-sort-btn feature-area-banner-sort-btn-up btn btn-sub btn-size-s">
					<span class="icon-arrow2-down"></span>
				</div>
				<div class="feature-area-banner-sort-btn feature-area-banner-sort-btn-down btn btn-sub btn-size-s">
					<span class="icon-arrow2-down"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="feature-area-banner-content">
		<div class="form-element-group form-element-group-horizontal-grid">
			<div class="form-element-group-title">
				<label>画像</label>
			</div>
			<div class="form-element-group-content">
				@Html.Partial("_ImageForm", Model.BannerImageInput)
				@Html.HiddenFor(model => model.FileName, new
				{
					Name = parentName + "FileName",
				})
				@Html.HiddenFor(model => model.FileDirPath, new
				{
					Name = parentName + "FileDirPath",
				})
			</div>
		</div>
		<div class="form-element-group form-element-group-horizontal-grid" style="display: none;">
			<div class="form-element-group-title">
				<label>代替テキスト</label>
			</div>
			<div class="form-element-group-content">
				@Html.TextBoxFor(model => model.AltText, new
				{
					Name = parentName + "AltText",
					Placeholder = "設定なし",
					Class = "w100"
				})
			</div>
		</div>
		<div class="form-element-group form-element-group-horizontal-grid" style="display: none;">
			<div class="form-element-group-title">
				<label>テキスト</label>
			</div>
			<div class="form-element-group-content">
				@Html.TextBoxFor(model => model.Text, new
				{
					Name = parentName + "Text",
					Placeholder = "設定なし",
					Class = "w100"
				})
			</div>
		</div>
		<div class="form-element-group form-element-group-horizontal-grid">
			<div class="form-element-group-title">
				<label>リンク</label>
			</div>
			<div class="form-element-group-content">
				<span>
					@Html.TextBoxFor(model => model.LinkUrl, new
					{
						Name = parentName + "LinkUrl",
						Placeholder = "設定なし",
						Class = "w50"
					})
					@Html.CheckBoxFor(model => model.IsWindowPopup, new
					{
						Id = parentName + "IsWindowPopup",
						Name = parentName + "IsWindowPopup",
						Placeholder = "設定なし",
					})
					<label for="@(parentName)IsWindowPopup">
						別ウィンドウで開く
					</label>
				</span>
			</div>
		</div>

		@Html.Partial("_ReleaseRangeSetting", Model.ReleaseRangeSettingInput)
		
		<div class="feature-area-banner-content-btn ta-center">
			<a href="javascript:void(0);" class="feature-area-banner-content-btn-delete btn btn-sub btn-size-m" onclick="javascript:void(0);">このバナーを削除する</a>
		</div>
	</div>
</div>
