@*
=========================================================================================================
  Module      : 機能一覧ページ(PageIndexList.aspx)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2017 All Rights Reserved.
=========================================================================================================
*@

@{
	ViewBag.Title = "機能一覧";
	Layout = "~/Views/Common/_LayoutDefault.cshtml";
}

@model w2.Cms.Manager.ViewModels.PageIndexList.PageIndexViewModel

<h1 class="page-title">@this.Model.PageIndexLargeMenu.Name</h1>
@foreach (var smenu in this.Model.PageIndexLargeMenu.PageIndexSmallMenuCategories)
{
	if (this.Model.GetAuthorizedPages(smenu.PageIndexSmallMenus).Any())
	{
		<div class="page-index-list-wrapper">
			<h2 class="cmn-hed-h2">@smenu.Name</h2>
			<ul class="page-index-list @Model.Key">
				@foreach (var pageIndex in this.Model.GetAuthorizedPages(smenu.PageIndexSmallMenus))
				{
					<li>
						<a href="@pageIndex.Href">
							<span class="page-name">@pageIndex.Name</span>
							<span class="subtext">@pageIndex.SubText</span>
						</a>
					</li>
				}
			</ul>
		</div>
	}
}