@*
=========================================================================================================
  Module      : タグマネージャー 置換タグリスト部分ビュー(_ReplaceTag.cshtml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2021 All Rights Reserved.
=========================================================================================================
*@

@using System.Web.UI.WebControls

<div id="tags" style="border: 5px solid #d0cfcf; height: 190px;" class="seo_tag_description">
	<h2>置き換えタグ説明</h2>
	<table id="seo_tag_table" class="seo_tag_table edit_table" cellspacing="1" border="0">
		<tr class="edit_title_bg">
			<th align="left">表示項目</th>
			<th align="left">スクリプト</th>
			<th id='enclosure_tag' align="left">囲みタグ</th>
		</tr>
		@foreach (ListItem item in Model.SeoAllReplaceTags)
		{
			<tr class="list_item_bg1 seo_all_replace_tags"
				style="background-color: blanchedalmond">
				<td align="left">@item.Text</td>
				<td align="left"
					onmouseover="listselect_mover(this)"
					onmouseout="listselect_mout1(this)"
					onmousedown="listselect_mdown(this)"
					onclick="tagInput('@item.Value', false);">
					@item.Value
				</td>
			</tr>
		}
		@foreach (ListItem item in Model.SeoProductListReplaceTags)
		{
			<tr class="list_item_bg1 seo_product_list_replace_tags"
				style="background-color: blanchedalmond">
				<td align="left">@item.Text</td>
				<td align="left"
					onmouseover="listselect_mover(this)"
					onmouseout="listselect_mout1(this)"
					onmousedown="listselect_mdown(this)"
					onclick="tagInput('@item.Value', false);">
					@item.Value
				</td>
				@if (item.Value != "@@ default_text @@")
				{
					<td align="left"
						onmouseover="listselect_mover(this)"
						onmouseout="listselect_mout1(this)"
						onmousedown="listselect_mdown(this)"
						onclick="tagInput('@item.Value', true);">
						&lt;@item.Value&gt;&lt;/@item.Value&gt;
					</td>
				}
			</tr>
		}
		@foreach (ListItem item in Model.SeoProductDetailReplaceTags)
		{
			<tr class="list_item_bg1 seo_product_detail_replace_tags"
				style="background-color: blanchedalmond">
				<td align="left">@item.Text</td>
				<td align="left"
					onmouseover="listselect_mover(this)"
					onmouseout="listselect_mout1(this)"
					onmousedown="listselect_mdown(this)"
					onclick="tagInput('@item.Value', false);">
					@item.Value
				</td>
				<td align="left"
					onmouseover="listselect_mover(this)"
					onmouseout="listselect_mout1(this)"
					onmousedown="listselect_mdown(this)"
					onclick="tagInput('@item.Value', true);">
					&lt;@item.Value&gt;&lt;/@item.Value&gt;
				</td>
			</tr>
		}
		@foreach (ListItem item in Model.CoordinateListReplaceTags)
		{
			<tr class="list_item_bg1 coordinate_list_replace_tags"
				style="background-color: blanchedalmond">
				<td align="left">@item.Text</td>
				<td align="left"
					onmouseover="listselect_mover(this)"
					onmouseout="listselect_mout1(this)"
					onmousedown="listselect_mdown(this)"
					onclick="tagInput('@item.Value', false);">
					@item.Value
				</td>
			</tr>
		}
		@foreach (ListItem item in Model.CoordinateDetailReplaceTags)
		{
			<tr class="list_item_bg1 coordinate_detail_replace_tags"
				style="background-color: blanchedalmond">
				<td align="left">@item.Text</td>
				<td align="left"
					onmouseover="listselect_mover(this)"
					onmouseout="listselect_mout1(this)"
					onmousedown="listselect_mdown(this)"
					onclick="tagInput('@item.Value', false);">
					@item.Value
				</td>
			</tr>
		}
		<tr>
			<td id="remarks" colspan="3" style="background: #f8f8f8">
			■備考<br />
			・囲みタグで囲まれた範囲はスクリプト置換結果が空の場合は非表示となります。<br />
			・親カテゴリ名とルート親カテゴリ名の置換タグを併用した時に置換結果が同一になる場合はルート親カテゴリの置換結果を表示します。
			</td>
		</tr>
	</table>
</div>