@*
=========================================================================================================
  Module      : Image Detail (_ImageDetail.cshtml)
  ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2022 All Rights Reserved.
=========================================================================================================
*@
@using w2.App.Common
@model w2.Cms.Manager.ViewModels.ScoringSale.ScoringSaleImageViewModel[]

<div class="list-content custom-scroll-area">
	<div class="list-group">
		<div class="list-group-toggle-content">
			@foreach (var imageModel in Model)
			{
				<div class="list-row">
					<div class="list-col list-col-thumb w10 hide-style-list" style="display: none;">
						<div class="list-col-inner">
							<figure>
								<img style="cursor: hand; cursor:pointer;" src="@imageModel.ImageSrc">
							</figure>
						</div>
					</div>
					<div class="list-col list-col-title">
						<div class="list-col-inner">
							<p class="list-col-title-label line-clamp ta-left">
								<a href="javascript:void(0)" class="list-col-title-a">@imageModel.FileName</a>
							</p>
						</div>
					</div>
					<div class="list-col w15">
						<p>@imageModel.DataChanged</p>
					</div>
					<div class="list-col w15">
						<p>@imageModel.FileSize</p>
					</div>
					<div class="list-col w15">
						<p>@imageModel.ImageSize</p>
					</div>
					<div class="list-col w15">
						<a href="javascript:select_click('@imageModel.ImageSrc', '@imageModel.FileName', '@imageModel.ImagePath');" class="btn btn-main btn-size-s btn-image-select">選択する</a>
					</div>
				</div>
			}
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function () {
		custom_scroll.ini();
	});

	// Select click
	function select_click(imageSrc, fileName, imagePath) {
		set_image(imageSrc, fileName, imagePath);
	}
</script>
