@*
=========================================================================================================
  Module      : 商品検索結果パーツ(_ProductSearchResult.cshtml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2019 All Rights Reserved.
=========================================================================================================
*@
@model w2.Cms.Manager.ViewModels.Shared.ProductSearchResultModel[]
<p class="mb20">絞り込み条件に一致する商品一覧</p> 

<div class="pager-content">
	<p class="pager-content-info hide-list-detail">@((Model.Any()) ? Model[0].CountHtml : string.Empty)</p>
	<span id="previous" class="pager-content-previous icon-arrow-left" onclick="before_page();"></span>
	<span id="next" class="pager-content-next icon-arrow-right" onclick="next_page();"></span>
</div>
<div class="item-search-result-head">
	<div class="item-search-result-head-all"><input type="checkbox" id="all"><label for="all">全て</label></div>
	<div class="item-search-result-head-item-id">商品ID</div>
	<div class="item-search-result-head-item-name">商品名</div>
	<div class="item-search-result-head-category">カテゴリ名</div>
	<div class="item-search-result-head-price">商品表示価格</div>
	<div class="item-search-result-head-date">販売開始日</div>
</div>
<div class="item-search-result-contents custom-scroll-area">
	@foreach (var product in Model)
	{
		<div class="item-search-result-content">
			<div class="item-search-result-content-all">
				<input type="checkbox" name="productId" id="@product.ProductId" value="@product.ToJson()" onclick="productClick(this)">
			</div>
			<div class="item-search-result-content-item-id break-word">@product.ProductId</div>
			<div class="item-search-result-content-item-name break-word">@product.ProductName</div>
			<div class="item-search-result-content-category">@product.CategoryName</div>
			<div class="item-search-result-content-price">@product.Price</div>
			<div class="item-search-result-content-date">@product.SellStartDate</div>
		</div>
	}
</div>
<style>
	.break-word {
		word-wrap: break-word;
	}
</style>
<script type="text/javascript">
	$(function() {
		custom_scroll.ini();
	});
	$('#all').on('change', function() {
		$('input[name=productId]').prop('checked', this.checked);

		var productIds = $('input[name=productId]')
			.prop('checked', this.checked)
			.map(function() { return $(this).attr('id'); })
			.get();

		$.each(productIds, function (i, value) {
			if ($('input[name=productId]').prop("checked")) {
				var addedDelimiter = ($('#productIdsHidden').val().length === 0) ? "\"" : ",\"";
				$('#productIdsHidden').val($('#productIdsHidden').val() + addedDelimiter + value + "\"");
			} else {
				var removedDelimiter = ($('#productIdsHidden').val().split(',').length === 1) ? "\"" : ",\"";
				$('#productIdsHidden').val($('#productIdsHidden').val().replace(removedDelimiter + value + "\"", ""));
			}
		})
	})
</script>