@*
=========================================================================================================
  Module      : 公開範囲設定 ターゲットリスト (パーシャルビュー) (_ReleaseRangeSettingTargetList.cshtml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2019 All Rights Reserved.
=========================================================================================================
*@

@model w2.Domain.TargetList.TargetListModel[]

<div class="access-authority-setting-targetlist-list-content custom-scroll-area">
	@foreach (var targetListItem in Model)
	{
		<div class="list-row">
			<div class="list-col ta-left">
				@targetListItem.TargetId
			</div>
			<div class="list-col ta-left">
				@targetListItem.TargetName
			</div>
			<div class="list-col w30 ta-right">
				<a href="#"
					class="btn btn-main btn-size-s target-list-select-btn"
					data-target-list-id="@targetListItem.TargetId"
					onclick="access_authority_setting.targetlist.select('@targetListItem.TargetId', '@targetListItem.TargetName', $(this));target_list_select($(this).closest('.modal-inner'));">
					選択する
				</a>
			</div>
		</div>
	}
</div>