@*
=========================================================================================================
  Module      : Scoring Sale Image List Modal (_ScoringSaleImageListModal.cshtml)
  ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2022 All Rights Reserved.
=========================================================================================================
*@
@using w2.App.Common
@using w2.App.Common.Web.Page

<div>
	<div id="modal-imagelist-select">
		<p class="modal-inner-ttl">@CommonPage.ReplaceTag("@@ScoringSaleQuestion.select_from_image_list.name@@")</p>
		<div class="imagelist-list">
			<div class="list-tools">
				<div class="list-tools-row">
					<div class="list-tools-col ta-right">
						<div class="keyword-search">
							@Html.TextBox("keyword", "", new { Id = "image_keyword" })
							<a href="javascript:void(0)" class="keyword-search-submit" onclick="image_search();"><span class="icon-search"></span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="list">
				<div class="list-head">
					<div class="list-head-row">
						<div class="list-head-col ta-left">
							<div class="list-style-switch">
								<div class="list-style-switch-inner">
									<input type="radio" name="image-list-style" id="modal-list-style-1" value="list" checked="" />
									<label for="modal-list-style-1" class="btn-switch"><span class="icon icon-list"></span><span class="label hide-list-detail">@CommonPage.ReplaceTag("@@ScoringSale.list_text.name@@")</span></label>
									<input type="radio" name="image-list-style" id="modal-list-style-2" value="thumb" />
									<label for="modal-list-style-2" class="btn-switch"><span class="icon icon-thumbnail"></span><span class="label hide-list-detail">@CommonPage.ReplaceTag("@@ScoringSale.thumbnail_text.name@@")</span></label>
								</div>
							</div>
						</div>
						<div class="list-head-col w15">
							<p>@CommonPage.ReplaceTag("@@ScoringSaleQuestion.upload_date.name@@")</p>
						</div>
						<div class="list-head-col w15">
							<p>@CommonPage.ReplaceTag("@@ScoringSaleQuestion.file_capacity.name@@")</p>
						</div>
						<div class="list-head-col w15">
							<p>@CommonPage.ReplaceTag("@@ScoringSaleQuestion.file_size.name@@")</p>
						</div>
						<div class="list-head-col w15">
						</div>
					</div>
				</div>
				<div id="image-list-content"></div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('#image_keyword').keypress(function (e) {
		if (e.which === 13) {
			image_search();
		}
	});
</script>
