@*
=========================================================================================================
  Module      : 商品一覧入力(商品グループ) (_ProductGroupInput.cshtml)
  ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2022 All Rights Reserved.
=========================================================================================================
*@
@using w2.App.Common
@model w2.Cms.Manager.ViewModels.FeaturePage.ProductInputViewModel
@{
	var parentName = Model.BaseName + ".";
}
@Html.HiddenFor(model => model.GroupId, new { Name = parentName + "GroupId" })
<div class="feature-item-list">
	<div class="form-element-group form-element-group-vertical">
		<div class="form-element-group-title">
			<label>タイトル</label>
		</div>
		<div class="form-element-group-content">
			@Html.TextBoxFor(m => Model.Title, new { Name = parentName + "Title", @class = "w100" })
		</div>
	</div>
	<div class="feature-item-list-paging">
		<div class="form-element-group form-element-group-vertical" style="width: 60px;">
			<div class="form-element-group-title">
				<label>表示件数</label>
			</div>
			<div class="form-element-group-content">
				@Html.TextBoxFor(m => m.DispNum, new { Name = parentName + "DispNum", @class = "w80" })
			</div>
		</div>
	</div>
	<div class="form-element-group form-element-group-vertical">
		<div class="form-element-group-title">
			表示する商品
		</div>
	</div>
	<div class="form-element-group-content">
		<div class="feature-selected-item-group">
			<p class="feature-selected-item-group-caption">商品グループ</p>
			<p class="feature-selected-item-group-name"><span class="feature-selected-item-group-name-value">@Model.GroupName</span><span class="feature-selected-item-group-name-id">（@Model.GroupId）</span><a href="javascript: open_product_group_edit('@Model.GroupId')" class="feature-selected-item-group-edit btn btn-txt btn-size-s">商品グループを編集</a></p>
			<div class="feature-selected-item-group-items">
				@foreach (var product in Model.ProductList)
				{
					<div class="feature-selected-item-group-item">
						<img src="@Constants.PATH_ROOT_FRONT_PC@product.ImagePath" alt="@product.Id"></div>
				}
			</div>
		</div>
	</div>
</div>
<div class="feature-item-list-btn">
	<a href="javascript:void(0);" class="btn btn-sub btn-size-m" onclick="change_product_list(this)">変更する</a>
	<a href="javascript:void(0)" class="btn btn-sub btn-size-m feature-type-multi-group" onclick="delete_product_list(this)">削除する</a>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		check_feature_page_type();
	});
</script>