@*
=========================================================================================================
  Module      : リサイズ入力フォーム(ReSize.cshtml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2019 All Rights Reserved.
=========================================================================================================
*@
@model w2.Cms.Manager.Input.ContentsManagerInput
@{
	ViewBag.Title = "リサイズ入力フォーム";
}

<tr>
	<td class="detail_title_bg" width="16"></td>
	@if (Model.ImageSizeWidthS != "0")
	{
		<td class="detail_title_bg" id="image_size_S">画像S</td>
	}
	<td class="detail_title_bg">画像M</td>
	<td class="detail_title_bg">画像L</td>
	<td class="detail_title_bg">画像LL</td>
</tr>
<tr>
	<td class="detail_title_bg" align="left">横</td>
	@if (Model.ImageSizeWidthS != "0")
	{
		<td class="detail_item_bg" align="center" id="image_size_width_S">@Html.TextBox("Input.ImageSizeWidthS", Model.ImageSizeWidthS)</td>
	}
	<td class="detail_item_bg" align="center">@Html.TextBox("Input.ImageSizeWidthM", Model.ImageSizeWidthM)</td>
	<td class="detail_item_bg" align="center">@Html.TextBox("Input.ImageSizeWidthL", Model.ImageSizeWidthL)</td>
	<td class="detail_item_bg" align="center">@Html.TextBox("Input.ImageSizeWidthLL", Model.ImageSizeWidthLL)</td>
</tr>
<tr>
	<td class="detail_title_bg" align="left">縦</td>
	@if (Model.ImageSizeWidthS != "0")
	{
		<td class="detail_item_bg" align="center" id="image_size_height_S">@Html.TextBox("Input.ImageSizeHeightS", Model.ImageSizeHeightS)</td>
	}
	<td class="detail_item_bg" align="center">@Html.TextBox("Input.ImageSizeHeightM", Model.ImageSizeHeightM)</td>
	<td class="detail_item_bg" align="center">@Html.TextBox("Input.ImageSizeHeightL", Model.ImageSizeHeightL)</td>
	<td class="detail_item_bg" align="center">@Html.TextBox("Input.ImageSizeHeightLL", Model.ImageSizeHeightLL)</td>
</tr>