@*
=========================================================================================================
  Module      : エラーページ(Index.cshtml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2019 All Rights Reserved.
=========================================================================================================
*@
@using w2.Cms.Manager.Codes
@model w2.Cms.Manager.ViewModels.Error.IndexViewModel
@{
	Layout = Model.ErrorPageLayout;
	ViewBag.Title = "エラーページ";
}

<table width="791" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td><h1 class="page-title">エラーページ</h1></td>
	</tr>
	@if (this.Layout != Constants.LAYOUT_PATH_DEFAULT)
	{
		<tr id="trFrameTopLine" runat="server">
			<td></td>
		</tr>
	}
	@LayoutHelper.PaddingTr(19)
	<!-- Main Contents List Area START -->
	@LayoutHelper.PaddingTr(10)
	<tr>
	<td align="center">
		<table width="600" border="0" cellspacing="0" cellpadding="0">
		@LayoutHelper.PaddingTr(40)
		<tr>
		<td>
		<table class="error_box_border" width="100%" border="0" cellspacing="1" cellpadding="0">
		<tr>
		<td>
		<table class="error_box_bg" width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
		<td align="center">
			<table border="0" cellspacing="0" cellpadding="0">
			@LayoutHelper.PaddingTr(12)
			<tr>
			<td>
				<table class="error_table" width="500" border="0" cellspacing="1" cellpadding="3">
					<tr class="error_title_bg">
					<td align="left">下記の内容についてエラーが発生しました。</td>
					</tr>
					<tr class="error_item_bg">
					<td align="left">
						<div class="error_text">
							@Html.Raw(this.Model.ErrorMessagesHtmlEncoded)
						</div>
					</td>
					</tr>
				</table>
				<div class="action_part_bottom">
				@if (this.Model.DispHistoryBackButton)
				{
					<input type="button" onclick="javascript:history.back();" value="  戻る  " class="btn btn-main"/>
				}
				@if (this.Model.DispLoginButton)
				{
					<input type="button" value="  ログイン画面へ  " onclick="location.href = '@Url.Action("", Constants.CONTROLLER_W2CMS_MANAGER_LOGIN)'" class="btn btn-main"/>
				}
				</div>
			</td>
			</tr>
			@LayoutHelper.PaddingTr(19)
			</table>
		</td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
		<!-- Main Contents List Area END -->
	</td>
	</tr>
	@LayoutHelper.PaddingTr(10)
</table>