@*
=========================================================================================================
  Module      : シングルサインオンワーカーサービス(SingleSignOnWorkerService.cs)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2019 All Rights Reserved.
=========================================================================================================
*@
@using w2.Cms.Manager.Codes
@model w2.Cms.Manager.ViewModels.SingleSignOn.IndexViewModel
<html>
<head><title></title></head>
<body onload="javascript:document.form1.submit();">
<form name="form1" method="post" action="@this.Model.LoginUrl">
<input type="hidden" name="@Constants.REQUEST_KEY_SHOP_ID" value="@this.Model.ShopOperator.ShopId" />
<input type="hidden" name="@Constants.REQUEST_KEY_MANAGER_LOGIN_ID" value="@this.Model.ShopOperator.LoginId" />
<input type="hidden" name="@Constants.REQUEST_KEY_MANAGER_PASSWORD" value="@this.Model.ShopOperator.Password" />
<input type="hidden" name="@Constants.REQUEST_KEY_MANAGER_LOGIN_FLG" value="1" />
<input type="hidden" name="@Constants.REQUEST_KEY_MANAGER_NEXTURL" value="@this.Model.NextUrl" />
</form>
</body>
</html>