@*
=========================================================================================================
  Module      : Scoring Sale Question Page (Partial View) (_ScoringSaleQuestionPage.cshtml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2022 All Rights Reserved.
=========================================================================================================
*@
@using w2.App.Common.Web.Page

<div class="feature-page-elements" style="background-color: white;" data-bind="foreach: { data: $data.ScoringSaleQuestionPages, as : 'ListScoringSaleQuestionPage' }">
	<div class="feature-page-element" data-bind="attr: { 'data-page-index': $index() }">
		<div class="feature-page-element-head" style="padding: 5px 10px; border-bottom: none;">
			<div class="feature-page-element-head-left" style="width: 100%;">
				<div class="feature-page-element-title" style="width: 100%; font-size: 15px; padding-top: 5px; display: flex; font-size: 20px">
					<span data-bind="text: ($index() + 1) + '@CommonPage.ReplaceTag("@@ScoringSale.page_text.name@@")'"></span>
					<div style="width: 75%;"></div>
				</div>
				<div class="feature-area-banner-sort-btns">
					<div class="feature-area-banner-sort-btn feature-page-element-sort-btn-up btn btn-sub btn-size-s" data-type="ScoringSaleQuestionPage" data-bind="attr : { style : ((view_model.ScoringSaleQuestionPagesLength() == ($index() + 1)) ? 'margin-right: 15px;' : '') + 'padding: 2.5px 12px; position: relative; right: 20px;' }">
						<span class="icon-arrow2-down"></span>
					</div>
					<div class="feature-area-banner-sort-btn feature-page-element-sort-btn-down btn btn-sub btn-size-s" data-type="ScoringSaleQuestionPage" data-bind="visible: (view_model.ScoringSaleQuestionPagesLength() != ($index() + 1))" style="padding: 2.5px 12px; margin-right: 15px; position: relative; right: 20px;">
						<span class="icon-arrow2-down"></span>
					</div>
					<div style="width: 10%; cursor: pointer; position: relative; right: 10px; top: 5px" data-bind="visible: (view_model.ScoringSaleQuestionPagesLength() > 1)">
						<span class="icon icon-close" style="font-size: 25px;" data-bind="click: function(data, event) { scoring_sale_list_page.remove_scoring_sale_question_page(data); }"></span>
					</div>
				</div>
			</div>
		</div>
		<div style="width: 30%; text-align: left; margin-top: 20px;">
			<h4 style="margin: 0 0 0 10px">@CommonPage.ReplaceTag("@@ScoringSale.button_setting_text.name@@")</h4>
		</div>
		<div class="feature-page-element-head" style="padding: 10px 10px 10px 25px; border-bottom: none; justify-content: left;">
			<div class="page-layout-template-active-selector" data-bind="visible: ($index() != 0)">
				<input type="checkbox" data-bind="attr: {id : 'page-layout-template-active-selector-pc-' + $index() }, checked: ListScoringSaleQuestionPage.IsSameAsFirstPage">
				<label data-bind="attr: { for : 'page-layout-template-active-selector-pc-' + $index() }">@CommonPage.ReplaceTag("@@ScoringSale.same_as_the_first_page_text.name@@")</label>
			</div>
		</div>
		<div class="feature-page-element-head" style="justify-content: flex-start; border: none; padding: 0 0 0 30px;" data-bind="visible: (ListScoringSaleQuestionPage.IsSameAsFirstPage() == false)">
			<div class="feature-page-element-head-left set_name" style="padding-right: 5px;">
				<div class="form-element-group-title" style="width: 75px;">
					<label>@CommonPage.ReplaceTag("@@ScoringSale.previous_page_text.name@@")<span class="notice">*</span></label>
				</div>
				<div class="form-element-group-content" style="padding: 0 0 0 15px">
					<input style="width: 200px;" type="text" data-bind="value: ListScoringSaleQuestionPage.PreviousPageBtnCaption">
				</div>
			</div>
		</div>
		<div class="feature-page-element-head" style="justify-content: flex-start; border: none; padding: 0 0 0 30px;" data-bind="visible: (ListScoringSaleQuestionPage.IsSameAsFirstPage() == false)">
			<div class="feature-page-element-head-left set_name" style="padding-right: 5px;">
				<div class="form-element-group-title" style="width: 75px;">
					<label>@CommonPage.ReplaceTag("@@ScoringSale.next_page_text.name@@")<span class="notice">*</span></label>
				</div>
				<div class="form-element-group-content" style="padding: 0 0 0 15px">
					<input style="width: 200px;" type="text" data-bind="value: ListScoringSaleQuestionPage.NextPageBtnCaption">
				</div>
			</div>
		</div>
		<div style="width: 30%; text-align: left; margin-top: 45px;">
			<h4 style="margin: 0 0 10px 10px">@CommonPage.ReplaceTag("@@ScoringSale.question_setting_text.name@@")</h4>
		</div>
		@* Modal window: Scoring sale question page item *@
		@Html.Partial("_ScoringSaleQuestionPageItem")
	</div>
</div>

<div style="text-align: center; margin-bottom: 30px;">
	<a id="addQuestionPage" href="javascript: scoring_sale_list_page.add_scoring_sale_question_page();" class="btn btn-main btn-size-m">
		<span class="icon icon-plus"></span>
		<span>@CommonPage.ReplaceTag("@@ScoringSale.display_button_attribute_text.add_question_page.name@@")</span>
	</a>
</div>
