@*
=========================================================================================================
  Module      : Scoring Sale Question Page Item (Partial View) (_ScoringSaleQuestionPageItem.cshtml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2022 All Rights Reserved.
=========================================================================================================
*@
@using w2.App.Common.Web.Page
@using w2.App.Common

<div class="feature-page-elements" style="background-color: white; margin: 20px 15px 15px 15px;">
	<div class="feature-page-element" style="border: none;" data-bind="attr: { 'data-page-index': $index() }">
		<div class="feature-page-element-content">
			<div class="feature-item-list">
				<div class="form-element-group form-element-group-vertical">
					<div class="form-element-group-content" data-bind="visible: ListScoringSaleQuestionPage.ScoringSaleQuestionItems().length > 0">
						<div class="feature-selected-item-list-head" style="border: solid #999 1px; border-bottom: none;">
							<div class="feature-selected-item-list-head-order"></div>
							<div class="feature-selected-item-list-head-item-id">@CommonPage.ReplaceTag("@@ScoringSale.question_name.name@@")<br>@CommonPage.ReplaceTag("@@ScoringSale.question_id.name@@")</div>
							<div class="feature-selected-item-list-head-item-variation" style="width: 45%;">@CommonPage.ReplaceTag("@@ScoringSaleQuestion.detail.setting_question.question_statement_label.name@@")</div>
							<div class="feature-selected-item-list-head-item-name">@CommonPage.ReplaceTag("@@ScoringSaleQuestion.detail.setting_basic.answer_type_label.name@@")</div>
							<div class="feature-selected-item-list-head-item-name" style="width: 10%;"></div>
						</div>
						<div class="feature-selected-item-list" style="border-radius: 0 0 5px 5px;">
							<div style="overflow: visible;" class="feature-selected-item-list-body ui-sortable" data-bind="foreach: { data: $data.ScoringSaleQuestionItems, as: 'ListScoringSaleQuestionChoice' }, event: { mouseover: $parent.get_selected_product_set }">
								<div class="feature-selected-item-list-item list-row" style="flex-wrap: wrap;">
									<div style="width: 9%; padding: 30px 0px 30px 15px; position: relative;" class="list-col-drag ui-sortable-handle">
										<span class="icon-drag"></span>
									</div>
									<div style="width: 10%">
										<div style="display: table; word-break: break-all;">
											<div style="display: table-row;">
												<span style="display: table-cell;" data-bind="text: ListScoringSaleQuestionChoice.Name"></span>
											</div>
											<div style="display: table-row; margin-bottom: 5px;">
												<span style="display: table-cell;" data-bind="text: ListScoringSaleQuestionChoice.QuestionId"></span>
											</div>
										</div>
									</div>
									<div style="width: 43%; text-align: center;">
										<p style="margin: 0 0 0 0px;" data-bind="text: ListScoringSaleQuestionChoice.Statement"></p>
									</div>
									<div style="width: 20%; text-align: center;">
										<p style="margin: 0 0 0 0px;" data-bind="text: ListScoringSaleQuestionChoice.TypeText"></p>
									</div>
									<div style="width: 10%; cursor: pointer; position: relative; left: 50px;">
										<span class="icon icon-close" data-bind="click: function (data, event) { scoring_sale_list_page.remove_scoring_sale_question(data, ListScoringSaleQuestionPage.Id); }"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div style="text-align: center;" data-bind="visible: $data.ScoringSaleQuestionItems().length < @Constants.FLG_SCORINGSALE_QUESTION_PAGE_ITEM_MAX_NUMBER_QUESTIONS_DISPLAY">
				<a data-bind="attr: { id: $data.Id, href: 'javascript: scoring_sale_list_page.open_question_list(\'' + $data.Id + '\')' }" class="btn btn-main btn-size-m" style="margin-bottom: 20px;">
					<span>@CommonPage.ReplaceTag("@@ScoringSale.display_button_attribute_text.add_question.name@@")</span>
				</a>
			</div>
		</div>
	</div>
</div>
