@*
=========================================================================================================
  Module      : デザイナ用 デフォルトレイアウトクラス(_DesignerLayoutDefault.cshtml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2019 All Rights Reserved.
=========================================================================================================
*@
@using CommonConstants = w2.App.Common.Constants
@using w2.App.Common.Manager.Menu
@using w2.Cms.Manager.Codes
@using w2.Cms.Manager.Codes.Menu
@using w2.Cms.Manager.Codes.Settings

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!--▽ HEAD ▽-->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>
		@if (DesignSetting.IsW2Cms) {
			@:W2Unified
		} else if (DesignSetting.IsRepeatPlus) {
			@:W2Repeat
		}else if (DesignSetting.IsRepeatFood){
			@:W2Repeat Food
		} else {
			@w2.App.Common.Constants.MANAGER_DESIGN_SETTING
		}
		&nbsp;
		@if (string.IsNullOrEmpty(ViewBag.Title) == false) {
			@ViewBag.Title
		} else {
			@ManagerMenuCache.Instance.GetTitle(Request.FilePath)
		}
	</title>
	<link rel="stylesheet" href="~/Css/legacy_style.css?@Constants.QUERY_STRING_FOR_UPDATE_EXTERNAL_FILE_URLENCODED" media="screen,print" type="text/css"/>
	<link rel="stylesheet" href="~/Css/w2style.css?@Constants.QUERY_STRING_FOR_UPDATE_EXTERNAL_FILE_URLENCODED" media="screen,print" type="text/css"/>
	<link rel="stylesheet" href="~/Css/w2style_cms_v2_1.css?@Constants.QUERY_STRING_FOR_UPDATE_EXTERNAL_FILE_URLENCODED" media="screen,print" type="text/css"/>
	<link rel="stylesheet" href="~/Images/Icon/icomoon/style.css" media="screen,print" type="text/css"/>
	<link rel="stylesheet" href="~/Lib/jquery-ui-1.12.1.custom/jquery-ui.min.css" media="screen,print" type="text/css"/>
	<link rel="stylesheet" href="~/Lib/simplebar/simplebar.css" media="screen,print" type="text/css"/>
	<link rel="stylesheet" href="~/Lib/tags-input-autocomplete/jquery.tagsinput-revisited.css" media="screen,print" type="text/css"/>
	<script type="text/javascript" charset="Shift_JIS" src="~/Js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" charset="Shift_JIS" src="~/Lib/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script type="text/javascript" charset="Shift_JIS" src="~/Lib/tags-input-autocomplete/jquery.tagsinput-revisited.js"></script>
	<script type="text/javascript" charset="Shift_JIS" src="~/Js/jquery.unobtrusive-ajax.min.js"></script>
	<script type="text/javascript" charset="Shift_JIS" src="~/Js/cookie-utils.js"></script>
	<script type="text/javascript" src="~/Js/Manager.js?@w2.App.Common.Constants.QUERY_STRING_FOR_UPDATE_EXTERNAL_FILE_URLENCODED"></script>
	<script type="text/javascript" src="~/Js/menuaccordion.js"></script>
	<script type="text/javascript" charset="Shift_JIS" src="~/Js/dateformat.js"></script>
	<script type="text/javascript" charset="UTF-8" src="~/Lib/simplebar/simplebar.min.js"></script>
	<script type="text/javascript" charset="Shift_JIS" src="~/Js/knockout-3.5.0.js"></script>
	<script type="text/javascript" charset="UTF-8" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.4/ace.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.11.0/beautify-html.min.js"></script>
	<script type="text/javascript">
		var root_path = "@w2.Common.Constants.PATH_ROOT";
		var supportSiteUrl = "@w2.App.Common.Constants.SUPPORT_SITE_URL";
	</script>
	<script type="text/javascript" charset="UTF-8" src="~/Js/common.js?@w2.App.Common.Constants.QUERY_STRING_FOR_UPDATE_EXTERNAL_FILE_URLENCODED"></script>

	<!-- フォーム一体型LP デザイン編集画面用JS -->
	<script type="text/javascript" charset="UTF-8" src="~/Lib/colorpicker/spectrum/spectrum.js"></script>
	<link rel="stylesheet" href="~/Lib/colorpicker/spectrum/spectrum.css" media="screen,print" type="text/css"/>
	<script type="text/javascript" charset="UTF-8" src="~/Js/formlp/formlp-design-editor.js?@Constants.QUERY_STRING_FOR_UPDATE_EXTERNAL_FILE_URLENCODED"></script>
	<!-- /フォーム一体型LP デザイン編集画面用JS -->

	@RenderSection("Style", false)
	<!--△ HEAD △-->
</head>
<body onload="@ViewBag.OnLoadEvents" class="popup_body @DesignSetting.SiteCssClassName">
<!-- Header START -->
<div id="header">
	<div class="package-title-wrapper">
		<div class="package-logo">
			@if (DesignSetting.IsW2Cms) {
				<img src="~/Images/Common/@DesignSetting.ManagerDesignSettingDirName/logo_w2Cms.svg" alt="logo"/>
			} else if (DesignSetting.IsRepeatPlus) {
				<img src="~/Images/Common/@DesignSetting.ManagerDesignSettingDirName/logo_repeat_head.svg" alt="logo"/>
			} else {
				<img src="~/Images/Common/@DesignSetting.ManagerDesignSettingDirName/logo_head.png" alt="logo"/>
			}
		</div>
		<div class="header-site-label">
			@if (string.IsNullOrEmpty(w2.App.Common.Constants.MANAGER_DESIGN_DECORATE_ICON_FILENAME) == false) {
				<span class="icon">
					<img src="~/Images/Common/@DesignSetting.ManagerDesignSettingDirName/@w2.App.Common.Constants.MANAGER_DESIGN_DECORATE_ICON_FILENAME" alt=""/>
				</span>
			}
			@if (string.IsNullOrEmpty(w2.App.Common.Constants.MANAGER_DESIGN_DECORATE_MESSAGE) == false) {
				<span class="label">@w2.App.Common.Constants.MANAGER_DESIGN_DECORATE_MESSAGE</span>
			}
		</div>
	</div>
</div>
<!-- Header End -->
<!-- main contents -->
@RenderBody()
@if (w2.App.Common.Constants.GOOGLEANALYTICS_ENABLED && w2.Common.Constants.SETTING_PRODUCTION_ENVIRONMENT) {
	<script async src="https://www.googletagmanager.com/gtag/js?id='@(string.IsNullOrEmpty(CommonConstants.GOOGLEANALYTICS_PROFILE_ID) ? CommonConstants.GOOGLEANALYTICS_MEASUREMENT_ID : CommonConstants.GOOGLEANALYTICS_PROFILE_ID)'"></script>
	<script type="text/javascript">
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		@if (string.IsNullOrEmpty(CommonConstants.GOOGLEANALYTICS_PROFILE_ID) == false)
		{
			@: gtag('config', '@CommonConstants.GOOGLEANALYTICS_PROFILE_ID');
		}
		gtag('config', '@CommonConstants.GOOGLEANALYTICS_MEASUREMENT_ID');
	</script>
}
@RenderSection("JavaScript", false)
</body>
</html>
