@*
=========================================================================================================
  Module      : パスワード変更入力ページ(OperatorPasswordChangeInput.cshtml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2019 All Rights Reserved.
=========================================================================================================
*@
@using w2.Cms.Manager.Codes
@{
	ViewBag.Title = "パスワード変更";
	Layout = Constants.LAYOUT_PATH_DEFAULT;
}
@model w2.Cms.Manager.ViewModels.OperatorPasswordChange.InputViewModel
@helper TopButtomControls()
{
	<input type="button" value="  更新する  " class="btn btn-main" onclick="return validate('update');">
	<input type="submit" name="Update" id="update" style="display: none;">
}

<table cellspacing="0" cellpadding="0" width="791" border="0">
	<!--▽ タイトル ▽-->
	<tr><td><h1 class="page-title">パスワード変更</h1></td></tr>
	@LayoutHelper.PaddingTr(10)
	<tr><td><h2 class="cmn-hed-h2">パスワード変更入力</h2></td></tr>
	<!--△ タイトル △-->
	<!--▽ 編集入力 ▽-->
	<tr>
	<td>
		<table class="box_border" cellspacing="1" cellpadding="3" width="784" border="0">
		<tr>
		<td>
		<table class="info_box_bg" cellspacing="0" cellpadding="0" width="100%" border="0">
		<tr>
		<td align="center">
		<table cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td>
			@using (Html.BeginForm(
				"OperatorPasswordChangeInput",
				Constants.CONTROLLER_W2CMS_MANAGER_OPERATOR_PASSWORD_CHANGE,
				new
				{
				},
				FormMethod.Post,
				new { name = "Update", Id="input_form" }))
			{
				@Html.HiddenFor(m => m.Input.ShopId)
				@Html.HiddenFor(m => m.Input.OperatorId)
				<div class="action_part_top">
					@TopButtomControls()
				</div>
				<table class="edit_table" width="758" border="0" cellspacing="1" cellpadding="3">
					<tr>
						<td align="left" class="edit_title_bg" width="30%">現在のパスワード<span class="notice">*</span></td>
						<td align="left" class="edit_item_bg">@Html.PasswordFor(m => m.Input.PasswordOld, new { maxlength = "16", textmode = "password"})</td>
					</tr>
					<tr>
						<td align="left" class="edit_title_bg" width="30%">新しいパスワード<span class="notice">*</span></td>
						<td align="left" class="edit_item_bg">@Html.PasswordFor(m => m.Input.Password, new { maxlength = "16", textmode = "password"})</td>
					</tr>
					<tr>
						<td align="left" class="edit_title_bg" width="30%">新しいパスワード(確認)<span class="notice">*</span></td>
						<td align="left" class="edit_item_bg">@Html.PasswordFor(m => m.Input.PasswordConfirm, new { maxlength = "16", textmode = "password"})</td>
					</tr>
				</table>
				<div class="action_part_bottom">
					@TopButtomControls()
				</div>
			}
		</td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
	</td>
	</tr>
	<!--△ 詳細 △-->
	@LayoutHelper.PaddingTr(10)
</table>

@section JavaScript
{
	<script type="text/javascript">
		// エンターキーによるsubmit禁止
		prohibit_submission();
	</script>
}