@*
=========================================================================================================
  Module      : 特集エリアタイプ詳細コンテンツ(パーシャルビュー)(_FeatureAreaTypeDetailContents.cshtml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2019 All Rights Reserved.
=========================================================================================================
*@
@model w2.Cms.Manager.ViewModels.FeatureAreaType.DetailViewModel

@{
	var parentName = string.Format("Input.{0}.", Model.IsPc ? "PcTagInput" : "SpTagInput");
	var tagInput = Model.IsPc ? Model.Input.PcTagInput : Model.Input.SpTagInput;
}

@helper UsableTags(string tagName, string tagValue)
{
	<div style="width: 500px; height: 20px" class="clearFix">
		<div style="width: 200px; float: left">
			@tagName:
		</div>
		<div style="width: 300px; float: left">
			@tagValue
		</div>
	</div>
}

<div class="tab-content" id="tab-@(Model.IsPc ? "pc" : "sp" )-contents-content">
	<div class="form-element-group form-element-group-vertical">
		<div class="form-element-group-title">
			<label>開始タグ</label>
		</div>
		<div class="form-element-group-content">
			@{
				var startTagCodeEditorId = "startTagCodeEditorId" + (Model.IsPc ? "pc" : "sp");
				var startTagCodeHideAreaId = "startTagCodeHideAreaId" + (Model.IsPc ? "pc" : "sp");
			}
			<script type="text/javascript">
				$(function() {
					set_ace_code_editor("@startTagCodeEditorId", "@startTagCodeHideAreaId");
				});
			</script>
			<div class="form-element-group form-element-group-vertical">
				<div class="form-element-group-content text_align_right">
					<div id="@startTagCodeEditorId" class="codeeditor">@tagInput.StartTag</div>
					@Html.TextAreaFor(model => tagInput.StartTag, new
					{
						Name = parentName + "StartTag",
						Id = startTagCodeHideAreaId,
						style = "display: none;"
					})
				</div>
			</div>
		</div>
	</div>
	<div class="form-element-group form-element-group-vertical">
		<div class="form-element-group-title">
			<label>繰り返しタグ</label>
		</div>
		<div class="form-element-group-content">
			@{
				var repeatTagCodeEditorId = "repeatTagCodeEditorId" + (Model.IsPc ? "pc" : "sp");
				var repeatTagCodeHideAreaId = "repeatTagCodeHideAreaId" + (Model.IsPc ? "pc" : "sp");
			}
			<script type="text/javascript">
				$(function () {
					set_ace_code_editor("@repeatTagCodeEditorId", "@repeatTagCodeHideAreaId");
				});
			</script>
			<div class="form-element-group form-element-group-vertical">
				<div class="form-element-group-content text_align_right">
					<div id="@repeatTagCodeEditorId" class="codeeditor">@tagInput.RepeatTag</div>
					@Html.TextAreaFor(model => tagInput.RepeatTag, new
					{
						Name = parentName + "RepeatTag",
						Id = repeatTagCodeHideAreaId,
						style = "display: none;"
					})
				</div>
			</div>
		</div>
		<div style="background-color: #F2F2F2; width: 500px; padding: 10px" class="clearFix">
			<div class="clearFix">
				<label style="margin-top: 10px">■繰り返しタグ内で使用できるタグ一覧</label>
				@UsableTags("画像パス", "<%#: Item.ImageFilePath %>")
				@*@UsableTags("画像代替テキスト", "<%#: Item.AltText %>")*@
				@*@UsableTags("テキスト", "<%#: Item.Text %>")*@
				@UsableTags("リンク先URL", "<%#: Item.DisplayLinkUrl %>")
				@UsableTags("別ウィンドウでひらくか", "<%#: Item.IsAnotherWindow %>")
			</div>
		</div>
	</div>
	<div class="form-element-group form-element-group-vertical">
		<div class="form-element-group-title">
			<label>終了タグ</label>
		</div>
		<div class="form-element-group-content">
			@{
				var endTagCodeEditorId = "endTagCodeEditorId" + (Model.IsPc ? "pc" : "sp");
				var endTagCodeHideAreaId = "endTagCodeHideAreaId" + (Model.IsPc ? "pc" : "sp");
			}
			<script type="text/javascript">
				$(function () {
					set_ace_code_editor("@endTagCodeEditorId", "@endTagCodeHideAreaId");
				});
			</script>
			<div class="form-element-group form-element-group-vertical">
				<div class="form-element-group-content text_align_right">
					<div id="@endTagCodeEditorId" class="codeeditor">@tagInput.EndTag</div>
					@Html.TextAreaFor(model => tagInput.EndTag, new
					{
						Name = parentName + "EndTag",
						Id = endTagCodeHideAreaId,
						style = "display: none;"
					})
				</div>
			</div>
		</div>
	</div>
	<div class="form-element-group form-element-group-vertical">
		<div class="form-element-group-title">
			<label>スクリプトタグ</label>
		</div>
		<div class="form-element-group-content">
			@{
				var scriptTagCodeEditorId = "scriptTagCodeEditorId" + (Model.IsPc ? "pc" : "sp");
				var scriptTagCodeHideAreaId = "scriptTagCodeHideAreaId" + (Model.IsPc ? "pc" : "sp");
			}
			<script type="text/javascript">
				$(function () {
					set_ace_code_editor("@scriptTagCodeEditorId", "@scriptTagCodeHideAreaId");
				});
			</script>
			<div class="form-element-group form-element-group-vertical">
				<div class="form-element-group-content text_align_right">
					<div id="@scriptTagCodeEditorId" class="codeeditor">@tagInput.ScriptTag</div>
					@Html.TextAreaFor(model => tagInput.ScriptTag, new
					{
						Name = parentName + "ScriptTag",
						Id = scriptTagCodeHideAreaId,
						style = "display: none;"
					})
				</div>
			</div>
		</div>
	</div>
	<div style="background-color: #F2F2F2; width: 500px; padding: 10px" class="clearFix">
		<div class="clearFix">
			<label>■個別プロパティ用タグ一覧</label>
			@UsableTags("バナー数", "<%: this.WrFeatureArea.Items.Count %>")
			@UsableTags("横並び　横並び数", "<%: this.SideMaxCount %>")
			@UsableTags("横並び　折り返し設定", "<%: this.IsSideTurn %>")
			@UsableTags("スライダー　矢印表示", "<%: this.SliderArrow %>")
			@UsableTags("スライダー　スライド表示数", "<%: this.SliderCount %>")
			@UsableTags("スライダー　ドット表示", "<%: this.SliderDot %>")
			@UsableTags("スライダー　自動スクロール", "<%: this.SliderScrollAuto %>")
			@UsableTags("スライダー　スクロール数", "<%: this.SliderScrollCount %>")
			@UsableTags("スライダー　スライド間隔", "<%: this.SliderScrollInterval %>")
		</div>
	</div>

</div>
