@*
=========================================================================================================
  Module      : 特集エリアタイプ一覧(パーシャルビュー)(_FeatureAreaTypeList.cshtml)
 ･･･････････････････････････････････････････････････････････････････････････････････････････････････････
  Copyright   : Copyright W2 Co.,Ltd. 2019 All Rights Reserved.
=========================================================================================================
*@
@using w2.Cms.Manager.WorkerServices
@model w2.Cms.Manager.ViewModels.FeatureAreaType.ListViewModel
<!-- リスト要素 -->
<div class="list-content custom-scroll-area">
	@foreach (var list in Model.List)
	{
		<div class="list-row" id="@list.AreaTypeId">
			<div class="list-col list-col-thumb w10">
				<div class="list-col-inner">
					<figure>
						<img src="~/@FeatureAreaTypeWorkerService.GetThumbnailByActionType(list.ActionType)" alt="サムネイル">
					</figure>
				</div>
			</div>
			<div class="list-col ta-left">
				<div class="list-col-inner">
					<div class="list-col-title-label">
						<a href="javascript:open_page('@list.AreaTypeId', true)" class="list-col-title-a">@list.AreaTypeName</a><br/>
					</div>
					<div class="list-col-memo">
						@list.InternalMemo
					</div>
				</div>
			</div>
			<div class="list-col hide-list-detail w10">
				@list.ReferenceCount
			</div>
			<div class="list-col hide-list-detail w40">
				@{
					var displayDate = list.DisplayDateChanged.Split(new[] { " " }, StringSplitOptions.None);
					<p>@displayDate[0]</p>
					<p>@displayDate[1]</p>
				}
			</div>
		</div>
	}
	<br/>
</div>
<script type="text/javascript">
	$(function() {
		custom_scroll.ini();
	});
</script>